/* ErrorPage.css */
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.error-page h1 {
  font-size: 36px;
  color: #e74c3c;
}

.error-page p {
  font-size: 18px;
  color: #333;
}

.error-message {
  font-style: italic;
  color: #e74c3c;
}
